.transactionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transactionTable th,
.transactionTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.transactionTable thead {
    background-color: #f4f4f4;
    font-weight: bold;
}

.transactionTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transactionTable tbody tr:hover {
    background-color: #e6f7ff;
}